
		<div id="large_header">
			<div id="nav_block">
				<div class="nav_block">
					<p><a href="index.php?point=mission">Mission</a></p>
				</div>
				<div class="nav_block">
					<p><a href="index.php?point=stage">Stage</a></p>
				</div>
				<div class="nav_block">
					<p><a href="index.php?point=cv">Cv</a></p>
				</div>
			</div>
		</div>

		<div class="home_article">
			<h2>Quoi</h2>
			<p>
				En stage au sein de l'entreprise Check It Networks du 1er Juin 2012 au 25 Août 2012 j'ai pu m'intéresser à la réalisation intégrale technologique de projets webs. Check It Networks étant une startup composée de 3 éléments, moi y compris, nous travaillions en commun sur chacun des travaux de l'entreprise ; ainsi que sur chacune des parties différentes des travaux (l'intégration du design mais aussi la mise en place des fonctionnalités plus « lourdes »). Travailler en groupe sur ces projets m'a ouvert les yeux sur la nécessité de savoir organiser une équipe et de planifier les étapes de la réalisation. Ayant effectuée mon stage dans une startup très active et travaillant pour des entreprises diverses et variées j'ai pu travailler avec des technologies différentes et de manière différentes selon le projet en cours. Nous travaillions, également, sur plusieurs projets simultanément ce qui était aussi très enrichissant. 
			</p>
		</div>
		
		<div class="home_article">
			<h2>Avec qui</h2>
			<p>
				Check It Networks est une agence de communication interactive spécialisée en conseil en web marketing, dans la conception de sites webs et de sites mobiles, ainsi qu'en plan média-web et leurs diffusions. Elle fut crée en 2010 à l'initiative de Jonathan Chickly, qui était mon maître de stage. 

	M Chickly diplômé de l'EDHEC Business School en 2008 et en tant que directeur technique et commercial de l'Agence était en charge des différents échanges avec les clients et les partenaires. Il travaillait néanmoins sur tout les autres aspects des projets : perfectionnant l'intégration du design, en dégelant la situation quand nous nous retrouvions face à un mur etc.

	M Szpytma, actuellement étudiant à l'ETNA (Groupe IONIS) est en alternance depuis 8 mois au sein de l'entreprise. S'occupant principalement du back-end, c'est à dire, la partie des traitements non visible par l'utilisateur mais qui permettent le bon fonctionnement de l'interface utilisateur (désigné front-end), il utilisait principalement du PHP/MySQL (sur Symfony, Magento ou Kohana). 

	Pour ma part, je m'intéressait plus particulièrement à l'interface utilisateur et à l'adéquation du produit fini avec la maquette fournit par les designers web. J'ai aussi travaillé sur des fonctionnalités de fond même si ma mission principale était le bon fonctionnement des animations de l'interface et l'exacte reproduction de la maquette fournit.
			</p>
		</div>

		